/* bootstrap css overrides */
html, body {
  height: 100%;
}

.words {
  justify-content: center;
}

.flex-fill {
  flex: 1;
  overflow-y: auto;
}

.container-fluid {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
}

.white-text {
  color: white;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.custom-card:hover {
  background-color: lightgray;
}

i {
  font-weight: lighter;
}

.h-95 {
  height: 95%;
}

.h-90 {
  height: 90%;
}

.h-85 {
  height: 85%;
}

.h-80 {
  height: 80%;
}

.custom-nav {
  flex: none;
}

.content {
  height: 100%
}

.contact-img {
  width: 70px;
  height: 70px;
}

.about-img {
  width: 250px;
  height: 250px;
}

.nav-a {
  font-size: 1.15em; 
  color: white;
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.nav-a:hover {
  color: silver;
  text-decoration: none;
  border-bottom: 3px solid silver;
}

.nav-a.active {
  color: gray;
  text-decoration: none;
  border-bottom: 3px solid gray;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  .nav-a {
    font-size: 1em;
  }
}
