/* bootstrap css overrides */

html,body {
  height: 100%;
}

.flex-fill {
  flex: 1;
  overflow-y: auto;
}

.custom-nav {
  flex: none;
}

.content {
  background-color: white;
}

.contact-img {
  width: 200px;
  height: 200px;
}

.nav-a {
  font-size: 1.25em; 
  color: silver;
  text-decoration: none;
}

.nav-a:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(19, 157, 68);
}

.nav-a.active {
  color: silver;
  text-decoration: none;
  background-color: black;
}
